# Python virtual environments
.venv/
venv/
env/

# Conda environments
conda-env/

# API Keys and Secrets
.env
*.log

# IDE specific
.vscode/
.idea/

# MLflow local database and artifacts
mlruns/
mlflow.db
logs/

# Generated results
batch_results.json
batch_full_audit.json
metrics.json

# --- DATA & MODELS ---
# 1. Ignore the entire data folder contents
data/**/*

# 2. Re-allow the specific folders so Git can reach the files
!data/transformed/
!data/transformed/traffic_mapping/
!data/transformed/traffic_mapping/traffic.json
!data/.gitkeep

# 3. Allow the XGBoost model
!trained_models/
!trained_models/pricing_xgb_model.json

# --- TESTING & OS ---
.pytest_cache/
.coverage
htmlcov/
test/__pycache__/
__pycache__/
*.py[cod]
.DS_Store
Thumbs.db

# --- MEDIA & TEMP ---
*.png
*.jpg
*.jpeg
*.plt
.dvc/
temp_*